
body {
    background-color: #F3F3F5;
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    font-family: Arial;
    font-size: 16px;
}

.bogstaver {
    width: 70px;
    height: 70px;
    text-align: center;
    color: #DEE6E8;
    font-family: Arial;
    font-size: 42px;
    font-weight: bold;
    text-shadow: 2px 2px #115D73;
}

.straalekrans {
    cursor: pointer;
    position: absolute;
    border-radius: 35px;
    border-width: 3px;
    border-style: dashed;
    border-color: rgba(255,255,255,0);
}

.bogstaver p {
    margin: 0;
    padding: 0;
    line-height: 160%
}

#b {
    left: 45px;
    top: 85px;
}

#h {
    left: 130px;
    top: 185px;
}

#r {
    left: 131px;
    top: 296px;
}

#s {
    left: 244px;
    top: 86px;
}

#g {
    left: 245px;
    top: 188px;
}

#p {
    left: 429px;
    top: 88px;
}

.one {
    width: 135px;
    height: 40px;
    top: 93px;
    left: 106px;
}

.two {
    width: 135px;
    height: 40px;
    top: 93px;
    left: 297px;
}

.three {
    width: 30px;
    height: 60px;
    top: 134px;
    left: 263px;
}

.four {
    width: 30px;
    height: 60px;
    top: 245px;
    left: 150px;
}

hr {
    background-color: #ACACAC;
    border-width: 0;
    color: #AAAAAA;
    height: 1px;
    line-height: 5;
    margin-left: -7px;
    page-break-after: always;
    text-align: left;
    width: 444px;
}